{% block content %}
    <a href="/">Home</a>
    <form action="add_entry" method="POST">
        <h4>Title</h4>
        <input name="title"></input>
        <textarea name="text"></textarea>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
