{% extends "index.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <article>
                <h1>{{ article.title }}</h1>
                <p>Published: DATETIME</p>
                {{ text|safe }}
            </article>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-6">
            <a class="btn btn-default" href="/edit_entry/{{ article.id }}">Edit Entry</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-danger">Delete Entry</a>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
{% endblock %}
