{% extends "base.jinja2" %}
{% block body %}
    <h4>{{ article.title }}</h4>
    {{ text|safe }}
    <p>{{ article.created }}</p>
    <a class="button" href="/edit_entry/{{ article.id }}">Edit</a>
{% endblock %}
