{% extends "base.jinja2" %}
{% block body %}
    <form action="" method="POST">
        <h4>Title</h4>
        <input name="title" value="{{ article.title }}" required></input>
        <textarea name="text" required>{{ article.text }}</textarea>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
