
{% block content %}
    {% for article in articles[::-1] %}
        <h4><a href="/article/{{ article.id }}">{{ article.title }}</a></h4>
        <p>{{ article.created }}</p>
    {% endfor %}
{% endblock %}
